<form action="/add" method="post" enctype="application/x-www-form-urlencoded">
  <h1>Change IT group</h1>
  <input type="text" placeholder="ism" name="name" required />
  <input type="text" placeholder="familiya" name="surname" required />
  <input type="number" placeholder="guruh" name="group" required />
  <input type="text" placeholder="yonalishi" name="direction" required />
  <input type="number" placeholder="ball" name="score" required />
  <button>create</button>
</form>